form {
  border: 1px solid salmon;
  /* width: 30vw; */
  text-align: center;
  width: 18rem;
  padding: 1em;
}

.form-control {
  display: inline-block;
  width: 100%;
  padding-left: 1.5rem;
}

.auth-btn {
  display: inline-block;
  /* width: 16rem; */
  cursor: pointer;
  width: 100%;
}

form * {
  box-sizing: border-box;
  height: 2.2rem;
  margin: 0.5rem 0;
}
